nav {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
    cursor: pointer; /* Ensure the entire list item is clickable */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: block; /* Ensure the link spans the full clickable area */
    cursor: pointer; /* Change cursor to pointer */
}

/* Dropdown Styling */
.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer; /* Ensure the dropdown parent shows a pointer cursor */
}

.dropdown a {
    cursor: pointer; /* Ensure the dropdown link shows a pointer cursor */
}

.dropdown-menu {
    visibility: hidden;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1001; /* Ensure it appears above other elements */
    left: 50%;
    transform: translateX(-50%) translateY(0);
    top: 100%; /* Adjust this value to add space between the dropdown and the navbar */
    margin-top: 2px; /* Additional space between the dropdown and the navbar */
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
    display: flex;
    flex-direction: column;
    padding: 0; /* Remove any padding from the dropdown container */
}

.dropdown-menu.show {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(10px);
}

.dropdown-menu li {
    list-style: none;
    padding: 0; /* Remove padding from the list item */
    margin: 0; /* Remove margin from the list item */
    width: 100%; /* Ensure the list item spans the full width */
}

.dropdown-menu a {
    color: white;
    text-decoration: none;
    display: block; /* Make the anchor tag a block element */
    width: 100%; /* Ensure it spans the full width of the parent */
    height: 100%; /* Ensure it spans the full height of the parent */
    padding: 10px; /* Add padding for spacing */
    box-sizing: border-box; /* Include padding in the element's dimensions */
    text-align: center; /* Center the text horizontally */
    line-height: 1.5; /* Adjust line height for better vertical alignment */
    cursor: pointer; /* Change cursor to pointer */
}

.dropdown-menu a:hover {
    background-color:  rgba(44, 44, 44, 0.5);
}

.dropdown:hover .dropdown-menu {
    display: block;
}
